body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

/* Топ */

header {
    font-size: 18px;
    background: #f1d0f1;
    
}

nav ul li {
    display: inline-block;
    width: calc(30% - 5px);
    list-style: none;
    text-align: center;
    padding: 15px;
    

}

.top__link{
    color: rgb(0, 166, 255);
}

.top__link:hover{
   color: tomato;
    
}


/* ЗМІСТ */

main{
    opacity: 0.8;
}

.block > article ~ article {
background-color: rgb(187, 223, 242);

}

/* Бокове меню */
aside {

    height: auto; 
    width: 160px; 
    position: fixed;
    left: 7px;
    background-color:white;
    padding-top: 10px;
    
}

aside ul li{
    list-style: none;
    padding: 10px;
}

/* Текст + оформлення тексту */

section{
    background-color: white;
    height: 100%; 
    padding: 10px;
    margin-left: 170px;
    
}

a{
    text-decoration: none; 
}


/* Зображення */

.fuji_img{
    width: 170px;
    float: left;
    margin: 10px;
    padding: 1px;
    
}

/* Низ */
footer{
    font-size: 18px;
    background: #f1d0f1;

}
.ft-menu{
text-align: center;
}

.ft-link{
    color: rgb(0, 166, 255);
}
.ft-link:hover{
    color: tomato;
}
    

